@page "/Cobros"

@page "/Cobros/{CobroId:int}"
@inject IToastService toast 

<div class="shadow-lg p-3 mb-5 bg-white rounded">

    <EditForm Model="cobro" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <div class="card">

            <div class="card-header">
                <h3>Registro de Cobro</h3>
            </div>

            <div class="card-body">
                <form>

                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="form-group">
                                <label>Id</label>
                                <div class="input-group">
                                    <InputNumber @bind-Value="this.CobroId" class="form-control" />
                                    <div class="input-group-append">
                                        <button type="button" style="z-index:0" class="btn btn-secondary" @onclick="Buscar">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Fecha</label>
                        <InputDate @bind-Value="cobro.Fecha" class="form-control" />
                    </div>

                    <label class="col-form-label">Cliente</label>
                    <div class="form-group">
                        <InputSelect @bind-Value="cobro.CobroId" class="form-control">
                            @foreach (var clientes in ClienteList)
                            {
                                <option value="@clientes.ClienteId">@clientes.Nombres</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="(() => cobro.ClienteId)" />
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Monto</th>
                                <th>Balance</th>
                                <th>Cobrado</th>
                                <th>Pagal</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @foreach (var item in cobro.Cobrosdetalles)
                            {
                                <tr>
                                    <td>@item.CobroId</td>
                                    <td>@item.VentaId</td>
                                    <td>@item.</td>
                                    <td>@item.Cobrado</td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <div class="form-group row m-1">
                        <label class="col-form-label">Totales</label>
                        <div class="input-group col-sm-3">

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group row">
                        <label class="col-form-label">Balance</label>

                        <div class="col-sm-3">

                        </div>

                    </div>
                </div>

                <div class="border-info">
                    <h5>Observaciones</h5>
                    <InputTextArea @bind-Value="cobro.Observaciones" class="form-control" />
                </div>

            </div>

            <div class="card-footer">
                <div class="form-group text-center">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

    </EditForm>

</div>


@code {

    [Inject]
    public ClientesBLL clientesBLL { get; set; }

    [Inject]
    public CobrosBLL cobrosBLL { get; set; }

    [Inject]
    public VentasBLL ventasBLL { get; set; }

    Cobros cobro = new Cobros();

    List<Clientes> ClienteList = new List<Clientes>();
    List<CobrosDetalles> VentaList = new List<CobrosDetalles>();

    [Parameter]
    public int CobroId { get; set; }


    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        /*cobro = new Cobros();
        ClienteList = clientesBLL.GetList(c => true);
        VentaList = new List<CobrosDetalles>();
        cobro.Fecha = DateTime.Now;*/
        Limpiar();
    }

    private async void Guardar()
    {
        
        cobro.CobroId = this.CobroId;
        if (await cobrosBLL.Guardar(cobro))
        {
            toast.ShowSuccess("Guardado.");
            Limpiar();
        }
        else
        {
            toast.ShowError("No se pudo guardar exitosamente");
        }

    }

    private async void Buscar()
    {
        var cobro = await cobrosBLL.Buscar(this.CobroId);
        cobro.Cobrosdetalles = await ventasBLL.GetVentasPagada(cobro.ClienteId);

        if (cobro != null)
        {
            this.cobro = cobro;
        }
        else
        {
            toast.ShowInfo("Este cobro no existe");
        }

    }

    private async void Eliminar()
    {

        if (await cobrosBLL.Eliminar(this.CobroId))
        {
            toast.ShowSuccess("Eliminado");
            Limpiar();
        }
        else
        {
            toast.ShowError("Error al eliminar el registro.");
        }
    }

    private void Cobrar(CobrosDetalles cobroDetalle)
    {
        if (cobroDetalle.Cobrado == 0)
        {
            cobroDetalle.Cobrado = cobroDetalle.Venta.Balance;
            cobro.BalanceCobro += cobroDetalle.Cobrado;
        }
        else
        {
            cobroDetalle.Cobrado = 0;
            cobro.BalanceCobro -= cobroDetalle.Venta.Balance;
        }
    }

    private void Limpiar()
    {
        this.cobro = new Cobros();
        this.CobroId = 0;
    }

    private async Task ObtenerVentasPendientes()
    {
        if (cobro.CobroId == 0)
            cobro.Cobrosdetalles = await ventasBLL.GetVentasPorPagar(cobro.ClienteId);
    }

}
