@page "/Cobros"

@page "/Cobros/{CobroId:int}"
@inject IToastService toast 

<div class="shadow-lg p-3 mb-5 bg-white rounded">

    <EditForm Model="cobro" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <div class="card">

            <div class="card-header">
                <h3>Registro de Cobro</h3>
            </div>

            <div class="card-body">
                <form>

                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="form-group">
                                <label>Id</label>
                                <div class="input-group">
                                    <InputNumber @bind-Value="this.CobroId" class="form-control" />
                                    <div class="input-group-append">
                                        <button type="button" style="z-index:0" class="btn btn-secondary" @onclick="Buscar">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Fecha</label>
                        <InputDate @bind-Value="cobro.Fecha" class="form-control" />
                    </div>

                    <label class="col-form-label">Cliente</label>
                    <div class="form-group">
                        <InputSelect @bind-Value="cobro.CobroId" class="form-control">
                            @foreach (var clientes in listClientes)
                            {
                                <option value="@clientes.ClienteId">@clientes.Nombres</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="(() => cobro.ClienteId)" />
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Monto</th>
                                <th>Balance</th>
                                <th>Cobrado</th>
                                <th>Pagal</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @foreach (var item in cobro.Cobrosdetalles)
                            {
                                <tr>
                                    <td>@item.CobroId</td>
                                    <td>@item.Fecha</td>
                                    <td>@item.Monto</td>
                                    <td>@item.Cobrado</td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <div class="form-group row m-1">
                        <label class="col-form-label">Totales</label>
                        <div class="input-group col-sm-3">

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group row">
                        <label class="col-form-label">Balance</label>

                        <div class="col-sm-3">

                        </div>

                    </div>
                </div>

                <div class="border-info">
                    <h5>Observaciones</h5>
                    <InputTextArea @bind-Value="cobro.Observaciones" class="form-control" />
                </div>

            </div>

            <div class="card-footer">
                <div class="form-group text-center">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

    </EditForm>

</div>


@code {

    [Inject]
    public ClientesBLL clientesBLL { get; set; }
    [Inject]
    public VentasBLL ventasBLL { get; set; }
    [Inject]
    public CobrosBLL cobrosBLL { get; set; }
    [Parameter]
    public int CobroId { get; set; }
    [Parameter]
    public EventCallback<int> Cobrado { get; set; }

    private int cobrado = 0;
    private Cobros cobro = new Cobros();
    private CobrosDetalles detalles = new CobrosDetalles();
    private Ventas ventas = new Ventas();

    List<dynamic> DetalleDTO = new List<dynamic>();

    private decimal totales = 0;
    List<Clientes> listClientes = new List<Clientes>();
    List<Ventas> listVentas = new List<Ventas>();

    protected async override Task OnInitializedAsync()
    {
        //listVentas = await ventasBLL.GetVentas(p => true);
        listClientes = await clientesBLL.GetClientes(p => true);
    }

    private async void Buscar()
    {
        var registro = await cobrosBLL.Buscar(this.CobroId);
        if (registro != null)
        {
            this.cobro = registro;
            //SourceDTO(registro.Detalles);
        }
        else
        {
            toast.ShowInfo("No se encontro ningún registro.");
        }
    }

    private void Limpiar()
    {
        this.cobro = new Cobros();
        this.CobroId = 0;
        DetalleDTO = new List<dynamic>();
    }

    private void Nuevo()
    {
        Limpiar();
    }

    private bool Validar()
    {
        if (!(cobro.ClienteId >= 1))
        {
            toast.ShowWarning("Debe selecionar un suplidor antes de guardar.");
            return false;
        }

        if (cobro.Cobrosdetalles.Count == 0)
        {
            toast.ShowWarning("Agregue como minimo un producto al detalle.");
            return false;
        }

        return true;
    }

    private async void Guardar()
    {
        if (!Validar()) { return; }

        cobro.CobroId = this.CobroId;
        if (await cobrosBLL.Guardar(cobro))
        {
            toast.ShowSuccess("Registro guardado.");
            Limpiar();
        }
        else
        {
            toast.ShowError("No se logro guardar el registro.");
        }
    }


    private async void Eliminar()
    {
        if (await cobrosBLL.Eliminar(this.CobroId))
        {
            toast.ShowSuccess("Registro eliminado.");
            Limpiar();
        }
        else
        {
            toast.ShowError("No se logro eliminar el registro.");
        }
    }

    private void Remover(dynamic detalle)
    {
        cobro.BalanceCobro -= (detalle.Cantidad * detalle.Costo);

        cobro.Cobrosdetalles.RemoveAll(i => i.Id == detalle.Id);
        DetalleDTO.Remove(detalle);
    }


    private async void SourceDTO(List<CobrosDetalles> detalle)
    {
        foreach (var item in detalle)
        {
            var ventas = await ventasBLL.Buscar(item.CobroId);

            var dto = new
            {
                item.Id,
                item.Fecha
                /*entas.Descripcion,
                productos.Costo,
                item.Cantidad,
                total*/
            };

            DetalleDTO.Add(dto);
        }
    }

    private void SourceDTO(CobrosDetalles detalle, Ventas ventas)
    {
        var dto = new
        {
            detalle.Id,
            //ventas.VentaId,
            ventas.Fecha,
            //ventas.Monto,
            //ventas.Balance,
            /*ventas.
            ventas*/
            //detalle.totales,
            // total
        };

        DetalleDTO.Add(dto);
    }

}
